* {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
  }
  body{
    /* background-color: rgb(223, 223, 223); */
  }
  
  .navbar {
    background-color: #171717;
    padding: 0px 50px;
    height: 60px;
    display: flex;
    align-items: center;
    color: white;
    width: calc(100vw - 100px);
    position: fixed;
      }
      .navbar .logoside {
        flex-basis: 30%;
        }
        .navbar .logoside .logotext {
          font-family: "Harrington";
          font-size: 28px;
        }
        .navbar .logoside .logotext2 {
          font-family: "Harrington";
          color: red;
        }
      .navbar .linkside {
        flex-basis: 70%;
        display: flex;
        justify-content: flex-end;
      }
        .navbar .linkside ul {
          list-style: none;
          display: flex;
        }
          .navbar .linkside ul li {
            margin-left: 10px;
            margin-right: 10px;
          }
            .navbar .linkside ul li a {
              color: white;
              text-decoration: none;
              font-weight: 500;
              letter-spacing: 0.7px;
            }
  
      .Subscribe {
        padding: 8px 20px;
        /* border-radius: 7px; */
        border: 2px solid red;
        /* background-color: red; */
      }
      .Subscribe:hover {
        background-color: red;
      }
  
  /* content */
  
  .content{
    /* background-color: red ; */
    min-height: calc(100vh - 120px);
    padding: 60px 50px 0px 50px;  
    display: flex;
    align-items: center;

    background-image: url('../images/bg6.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
.homeheadingname{
    font-size: 5vh;
    color: white;
    flex-basis: 20%;
    }

  
  /* footer */
  
  .footer{
    height: 60px;
    background-color: #171717;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .socialmedia a{
      margin: 0px 10px;
      color:white;
      font-size: 20px;
    }
    .socialmedia a:hover{
        color:red
    }

.redcolor{
    color: red;
}
.comic{
    border-bottom: 3px ridge red;
    font-size: 6vh;
}
.welcome{
    /* color: #171717; */
    color:white;
    font-weight: 700;
}

@media only screen and (max-width: 660px) {
    .navbar .linkside {
        display: none;
    }
    .navbar .logoside {
        flex-basis: 100%;
        }
}



.contentform{
    min-height: calc(100vh - 120px);
    padding: 60px 50px 0px 50px;  
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* background-color: red; */
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    background-color: #171717;
    color:white;
    /* padding: 150px 180px; */
    padding: 50px 50px;
}

.card .form h1{
    margin-bottom: 100px;
}
.card .form{
    padding: 0px 140px;
    flex-basis: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card .form label{
    font-size: 20px;
}
.card .form input{
    padding: 10px 20px;
    margin: 10px 0px;
    border: none;
    width: calc(100% - 20px) ;
    background-color:'transparent'
}
.card .form input:hover{
    border: none;
}

.card .partition{
    margin-top: 20px;
}
.submitbutton{
    /* flex-basis: 100%; */
    padding: 8px 0px !important;
    /* width: 100% !important;
    border: 2px solid red !important; */
    font-weight:600 ;
    font-size: 20px;
    /* padding-top: 10px; */
    /* color:#171717; */
}
.submitbutton:hover{
    color: white;
    /* background-color: red; */
}
.card .form a{
    color: red;
    text-decoration: none;
    font-size: 19px;
    font-weight: 600;
    margin-top: 10px;
}